.fake-browser-ui {
  margin-bottom: 2em;
  padding: 20px 0 0;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
  width: 100%;
}

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}

.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}

.fake-browser-ui .body {
  font-size: 80%;
  line-height: 1;
  background: #fff;
  color: #000;
  padding: 1em;
}

.fake-browser-ui h3 {
  margin-bottom: 1em;
  text-transform: none;
  font-weight: bold;
  font-size: 120%;
}

.fake-browser-ui blockquote {
  margin: 1em 0 1em 2em;
}

.fake-browser-ui blockquote::before {
  display: none;
}
